<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exchange Office</title>
    <style>

        h1 {
            text-align: center;
            font-family: cursive;
            font-size: xxx-large;
        }
        form {
            text-align: center;
        }
        label, input, select {
            font-family: cursive;
        }
        table {
            margin: auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
        }
    </style>
</head>
<body>
<h1>Exchange Office</h1>
<table>
    <th style="
    vertical-align: top;
    padding-right: 100px;
    padding-left: 75px;
    padding-top: 50px;
">
<form action="/convert" method="post">
    <label>Amount:</label>
    <input type="number" name="amount" min="0" step="any" required /><br>

    <label>From Currency:</label>
    <select name="fromCurrency">
        <option value="RON">RON</option> <!-- Manually adding RON -->
        <option th:each="rate : ${rates}" th:value="${rate.key}" th:text="${rate.key}"></option>
    </select><br>

    <label>To Currency:</label>
    <select name="toCurrency">
        <option value="RON">RON</option> <!-- Manually adding RON -->
        <option th:each="rate : ${rates}" th:value="${rate.key}" th:text="${rate.key}"></option>
    </select><br>

    <input type="submit" value="Convert">
</form>
    </th>
    <th style="border: 1px solid white;">
<h2 style="text-align: center;">Today's rates for 1 RON</h2>
<table>
    <tr>
        <th>Currency</th>
        <th>Rate</th>
    </tr>
    <tr th:each="rate : ${rates}" style="background-color: #f2f2f2;border: 1px solid black;">
        <td th:text="${rate.key}"></td>
        <td th:text="${rate.value}"></td>
    </tr>
</table>
    </th>
</table>
</body>
</html>
